body {
    margin: 0;
    overflow: hidden;
}

.floating-image {
    background-image: url('https://i.ibb.co/2gdVrky/20230210-160408.jpg'); /* Replace with your image URL */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; /* Adjust the size of the floating image */
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: floatAnimation 8s ease-in-out infinite;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
